pkg/
Gemfile.lock
Gemfile.local
spec/fixtures/
log/
junit/
.vagrant/
.bundle/
coverage/
/.idea/
/.vscode/
.metadata
*.iml
.*.sw[op]
.DS_Store
.rspec

*.orig
*.bak
*.old
*.gem
*.rbc
.rspec_system
.vagrant
.yardoc
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
vendor/
rdoc
spec/reports
test/version_tmp
tmp
.idea
.config

