pkg/
Gemfile.lock
Gemfile.local
spec/fixtures/
log/
junit/
.vagrant/
.bundle/
coverage/
.idea/
.metadata
*.iml
.*.sw[op]
.DS_Store
.rspec
tmp/

*.orig
*.bak
*.old
*.gem
*.rbc
.rspec_system
.vagrant
.bundle
.config
.yardoc
Gemfile.lock
Gemfile.local
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
vendor/
spec/fixtures/
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
/.idea/
/.vscode/
.config

